terraform {
  backend "s3" {
    bucket         = "REPLACE_WITH_TF_STATE_BUCKET"
    key            = "aws-transcribe-call-analytics-poc/terraform.tfstate"
    region         = "us-east-1"
    dynamodb_table = "REPLACE_WITH_TF_LOCK_TABLE"
    encrypt        = true
  }
}
